{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="flex flex-col min-h-screen bg-purple-100">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h1 class="text-3xl font-bold text-center mb-8 text-purple-700">Edit Product</h1>
  
    <div class="bg-white rounded-lg p-6 form-style">
      <form method="POST" enctype="multipart/form-data" class="space-y-6">
          {% csrf_token %}
          
          <!-- Product Image -->
          <div class="flex flex-col">
            <label for="product_image" class="mb-2 font-semibold text-purple-700">Product Image</label>
            <input type="file" name="product_image" id="product_image" class="border-2 border-purple-500 text-purple-600 p-2 rounded-md w-full" />
            
            {% for error in form.product_image.errors %}
                <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %}
        </div>

          <!-- Name -->
          <div class="flex flex-col">
              <label for="{{ form.name.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.name.label }}
              </label>
              <div class="w-full">
                  {{ form.name }}
              </div>
              {% for error in form.name.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Flavour -->
          <div class="flex flex-col">
              <label for="{{ form.flavour.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.flavour.label }}
              </label>
              <div class="w-full">
                  {{ form.flavour }}
              </div>
              {% for error in form.flavour.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Price -->
          <div class="flex flex-col">
              <label for="{{ form.price.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.price.label }}
              </label>
              <div class="w-full">
                  {{ form.price }}
              </div>
              {% for error in form.price.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Description -->
          <div class="flex flex-col">
              <label for="{{ form.description.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.description.label }}
              </label>
              <div class="w-full">
                  {{ form.description }}
              </div>
              {% for error in form.description.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Netto -->
          <div class="flex flex-col">
              <label for="{{ form.netto.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.netto.label }}
              </label>
              <div class="w-full">
                  {{ form.netto }}
              </div>
              {% for error in form.netto.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Category -->
          <div class="flex flex-col">
              <label for="{{ form.category.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.category.label }}
              </label>
              <div class="w-full">
                  {{ form.category }}
              </div>
              {% for error in form.category.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Stock -->
          <div class="flex flex-col">
              <label for="{{ form.stock.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.stock.label }}
              </label>
              <div class="w-full">
                  {{ form.stock }}
              </div>
              {% for error in form.stock.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Expiration Date -->
          <div class="flex flex-col">
              <label for="{{ form.exp_date.id_for_label }}" class="mb-2 font-semibold text-purple-700">
                  {{ form.exp_date.label }}
              </label>
              <div class="w-full">
                  {{ form.exp_date }}
              </div>
              {% for error in form.exp_date.errors %}
                  <p class="mt-1 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
          </div>

          <!-- Submit Button -->
          <div class="flex justify-center mt-6">
              <button type="submit" class="bg-purple-600 text-white font-semibold px-6 py-3 rounded-lg hover:bg-purple-700 transition duration-300 ease-in-out w-full">
                  Edit Product
              </button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
